@charset "UTF-8";

 /*
  em HTML é id = em CSS é #
  em HTML é class = em CSS é .

  Nuca ultilizar o "id" em mais de um lugar, não e recomendado pelo W3C
 */

body {
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4,109,0);
}
h1#príncipal{
    text-align: center;
    background-color: rgb(4,109,0);
    color: rgb(255,255,255);
}

h2 {
    color: rgb(73,109,71);
}